// COLOR VARIABLES
$color-primary: #219EBC;
$color-primary-dark: #126782;

$color-secondary:#023047;

$color-blue-light: #8ECAE6;

$color-orange: #FD9E02;
$color-orange-dark: #FB8500;


//FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

